@* This line specifies that the view expects a model of type Product to be passed to it. *@
@model Product
@*A heading that displays the name of the product followed by the word Information.*@
<h3>@Model.Name Information</h3>

<table class="table">
    @*This table row contains the table headers for each column corresponding to the properties of the Product class model.*@
    <tr>
        <th>Product ID</th>
        <th>Name</th>
        <th>Price</th>
        <th>Category ID</th>
        <th>On Sale</th>
        <th>StockLevel</th>
    </tr>
    @*This table row contains the table data / value to each property within the product model.*@
    <tr>
        <td>@Model.ProductID</td>
        <td>@Model.Name</td>
        <td>@Model.Price</td>
        <td>@Model.CategoryID</td>
        <td>@Model.OnSale</td>
        <td>@Model.StockLevel</td>
    </tr>
</table>

@*creates a block-level <div> element that contains a hyperlink (href / hypertext reference) using an anchor tag (<a> tag) to specify its destination.
   The link's URL directs the user to the UpdateProduct action in the Product controller, and it appends the
   current product's ID (represented by @Model.ProductID) to the URL. When the link is clicked, it will navigate to the page where the product
   with the corresponding ProductID can be updated. The display: block style ensures that the <div> element is treated as a block, 
   meaning it will occupy the full width available and start on a new line.*@
<div style="display: block">
    <a href="/Product/UpdateProduct/@Model.ProductID">Update this Product</a>
</div>

<div style="display: block">

    @*DeleteProduct specifies the name of the action method in the Product controller that will handle the form submission.
    Post specifies that the form will be submitted using the HTTP POST method.
    Product indicates that the action method belongs to the Product controller.
    ASP.NET Core MVC follows a convention where controllers are named with the suffix Controller so there's no need to specify
    the full name of the controller class.*@
    @using (Html.BeginForm("DeleteProduct", "Product", "Post"))
    {
        <input type="hidden" asp-for="ProductID" value="@Model.ProductID" />
        <input type="submit" onclick="return confirm('Are you sure?')" value="Delete this product" />
    }
</div>